In [12]:
import yfinance as yf

In [17]:
start_date="2020-09-15"
end_date="2025-07-03"
nifty_v2=yf.download("^NSEI",start=start_date,end=end_date)

C:\Users\neela\AppData\Local\Temp\ipykernel_9784\2840066850.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  nifty_v2=yf.download("^NSEI",start=start_date,end=end_date)
[*********************100%***********************]  1 of 1 completed

In [18]:
nifty_v2.columns = nifty_v2.columns.get_level_values(0)
nifty_v2.reset_index(inplace=True)
nifty_v2.index.name = None

In [19]:
nifty_v2.tail()

Price,Date,Close,High,Low,Open,Volume
1180,2025-06-26,25549.000000,25565.300781,25259.900391,25268.949219,428900
1181,2025-06-27,25637.800781,25654.199219,25523.550781,25576.650391,564000
1182,2025-06-30,25517.050781,25669.349609,25473.300781,25661.650391,271000
1183,2025-07-01,25541.800781,25593.400391,25501.800781,25551.349609,260700
1184,2025-07-02,25453.400391,25608.099609,25378.750000,25588.300781,309800

In [21]:
nifty_v2.to_csv("nifty_2020_2025.csv",index=False)